/* ---------------- MAIN ---------------- */
.stApp {
    font-family: 'Segoe UI', sans-serif;
}

/* ---------------- TITLE ---------------- */

.big-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #38bdf8;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}

/* ---------------- CARDS ---------------- */

.card {
    padding: 20px;
    border-radius: 16px;
    border-left: 6px solid #38bdf8;
    margin-bottom: 20px;
}

/* ---------------- AGENT CARD ---------------- */

.agent-card {
    padding: 18px;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
    transition: 0.3s;
    border: 1px solid #334155;
}

.agent-card:hover {
    transform: scale(1.05);
    border: 1px solid #38bdf8;
}

/* ---------------- STEP BOX ---------------- */

.step-box {
    padding: 14px;
    border-radius: 12px;
    margin: 10px 0;
    border-left: 5px solid #38bdf8;
}

/* ---------------- OUTPUT ---------------- */

.output-box {
    padding: 22px;
    border-radius: 16px;
    border-left: 6px solid #22c55e;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
}

/* ---------------- BUTTON ---------------- */

.stButton > button {
    border-radius: 10px;
    font-weight: bold;
}

/* ---------------- TOOLBAR ---------------- */

header {
    visibility: visible !important;
}

[data-testid="stToolbar"] {
    visibility: visible !important;
    display: block !important;
}